* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("./demoShop/patt.png");
}

.header {
  height: 100px;
  display: flex;
  /* background-color: #cadbed; */
  background-color: rgba(255, 255, 255, 0.75);
  align-items: center;
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

/* .col-6,
.col-3  */
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.logo {
  margin-top: 7px;
}

.menu {
  display: flex;
}

.menu li {
  width: 25%;
}

.menu a {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #2c71b8;
  text-decoration: none;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child > a {
  border-right: 1px solid #2c71b8;
}

.dropdown {
  border-left: 1px solid #2c71b8;
}

.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

.conteiner-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #2c71b8;
  width: 200px;
  height: 40px;
  margin-top: 4px;
}

.conteiner-search input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 40px;
  width: 162px;
  font-size: 21px;
  color: #2c71b8;
  font-family: "Roboto", sans-serif;
}

.conteiner-search input::placeholder {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  color: #2c71b8;
}

.conteiner-search button {
  width: 30px;
  height: 30px;
  background-color: #2c71b8;
  border: none;
  margin: 4px 4px 4px 0;
  padding: 0;
}

.conteiner-search input:focus {
  outline: none;
}

.basket-btn {
  position: relative;
  top: 4px;
  left: 0px;
}

.basket-btn button {
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
}

.number {
  position: absolute;
  border-radius: 10px;
  background-color: #2c71b8;
  width: 20px;
  height: 20px;
  color: white;
  top: -10px;
  left: 5px;
  padding-top: 2px;
}

.dropdown .dropbtn {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: #2c71b8;
  background-color: transparent;
  border: none;
}

.dropbtn {
  width: 100%;
  height: 50px;
  padding: 0;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 288px;
  background-color: #2c71b8;
}

.dropdown {
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: white;
  height: 40px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 288px;
}

.dropdown-content a:hover {
  background-color: white;
  color: #2c71b8;
}

.dropdown:hover .dropbtn{
  background-color: #2c71b8;
  color: white;  
}